.elements__card {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  padding-bottom: 31px;
  width: 100%;
  height: 361px;
  display: grid;
  grid-template-columns: 1fr 49px;
  grid-template-areas:
  "photo photo"
  "title like";
  row-gap: 25px;
  align-items: center;
  justify-items: start;
  border: none;
  outline: none;
  overflow: hidden;
}

@media screen and (max-width: 953px) {
  .elements__card {
    height: auto;
  }
}

@media screen and (max-width: 325px) {
  .elements__card {
    height: 361px;
  }
}

